<app-header></app-header>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Organization</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a [routerLink]="['/users']">Users</a></td>
                <td><a [routerLink]="['/employeeTypes']">Employee Types</a></td>
                <td>User Settings</td>
                <td>Permission Settings</td>
            </tr>
            <tr>
                <td>Departments</td>
                <td>Employee Type Settings</td>
                <td>Department Settings</td>
                <td>Employee Locations</td>
            </tr>
            <tr>
                <td>Currencies</td>
                <td>Country List</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">Time Card</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Timecard Templates</td>
                <td>Timecard Settings</td>
                <td>Timecard Approval Types</td>
                <td>Timecard Validation Rules</td>
            </tr>
            <tr>
                <td>Timecard Periods</td>
                <td>Activity List</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">Leave</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Leave Types</td>
                <td>Leave Settings</td>
                <td>Leave Approval Types</td>
                <td>Leave Validation Rules</td>
            </tr>
            <tr>
                <td>Leave Template</td>
                <td>Time Off in Leu</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">Schedules</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Work Schedules</td>
                <td>Work Shifts</td>
                <td>Holiday Calender</td>
                <td></td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">Expenses</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Expenses Types</td>
                <td>Expenses Settings</td>
                <td>Leave Approval Types</td>
                <td>Tax Codes</td>
            </tr>
            <tr>
                <td>Expenses Templates</td>
                <td>Payment Types</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">Payroll</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pay Code </td>
                <td>Over Time Rules</td>
                <td>Pay Rates</td>
                <td>Per Diem</td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">General</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Security Settings</td>
                <td>Account Controls</td>
                <td>Remote Access</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>